:root {
  --main-color: hsl(245, 75%, 52%);
  --sepia-main: hsl(224, 23%, 55%);
  --dark-main: hsl(223, 47%, 23%);
  
  --light-main: hsl(225, 100%, 94%);
  --lighter-main: hsl(225, 100%, 98%);
}

body {
  margin: 0;
  padding: 0;
}
